[Desktop Entry]
Name=tuiui
Comment=A tiling terminal-based window manager for Wayland
Exec=%h/.local/bin/tuiui --compositor
Type=Wayland
DesktopNames=tuiui
TryExec=%h/.local/bin/tuiui
